@font-face{
    font-family: "National";
    src: url('../fonts/National-700-Bold.otf'),
    url('fonts/National-700-Bold.otf'); /* IE */
    font-weight: 700;
}

@font-face{
    font-family: "National";
    src: url('../fonts/National-300-Book.otf'),
    url('fonts/National-300-Book.otf'); /* IE */
    font-weight: 300;
}

@font-face{
    font-family: "Brandon Grotesque";
    src: url('../fonts/Brandon_light.otf'),
    url('fonts/Brandon_light.otf'); /* IE */
    font-weight: 200;
}

@font-face{
    font-family: "Brandon Grotesque";
    src: url('../fonts/Brandon_light.otf'),
    url('fonts/Brandon_light.otf'); /* IE */
    font-weight: 200;
    font-style: italic;
}